/* Estilos generales */
body {
  background-image: url('ruta/a/tu/imagen.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que el fondo cubra al menos el 100% de la altura de la ventana */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: center; /* Centra verticalmente el contenedor */
}

/* Contenedor principal */
.container {
  width: 99%;
  height: 99vh; /* Hace que el contenedor cubra toda la altura de la pantalla */
  padding: 20px; /* Ajusta el padding para mejor presentación */
  border: 5px solid rgb(41, 29, 219);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.548); /* Fondo blanco semi-transparente para mayor contraste */
  box-sizing: border-box; /* Incluye el padding y border dentro del cálculo de la altura */
}

/* Estilo para los encabezados */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin-top: 30px;
}

h5 {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Estilo para el formulario */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 6px;
  border: 3px solid #480c9b;
  border-radius: 4px;
  text-align: start; /* Centra el texto dentro del campo */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

button {
  padding: 10px 20px;
  background-color: #4caf4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button[type="button"] {
  background-color: #f44336;
  margin-right: 10px;
  
}

button:hover {
  background-color: #96918f;
}

/* Contenedor de respuestas */
#answerContainer {
  margin-top: 10px;
}

.correct-answer {
  color: #e62747; /* Color para respuestas correctas */
  font-weight: bold;
}

/* Estilos para el contenedor de sugerencias */
#suggestionsContainer {
  display: none; /* Oculta el contenedor por defecto */
  border: 3px solid #2f13a8;
  padding: 5px;
  margin-top: 5px;
  max-height: 100px;
  overflow-y: auto;
  background-color: #c2cae4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para los elementos de sugerencias */
.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 3px solid #c2154f88;
  transition: background-color 0.3s ease;
  text-align: center; /* Centra el texto en los elementos de sugerencia */
}

.suggestion-item:hover {
  background-color: #83df8a;
}

/* Hacer que la imagen de fondo cubra toda la pantalla en pantallas grandes */
@media (min-width: 768px) {
  body {
    background-size: cover;
  }
}

/* Ajustar tamaños de texto para pantallas pequeñas */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  input[type="text"] {
    padding: 8px;
  }

  button {
    width: 30%;
    margin: 0 auto 10px; /* Centra el botón horizontalmente y añade un margen inferior */
    display: block; /* Hace que el botón sea un elemento de bloque, permitiendo el centrado con márgenes automáticos */
    padding: 10px 20px;
    background-color: #4caf4e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="button"] {
    background-color: #f44336;
    margin-right: 10px;
    margin: 0 auto 10px;
    color: white;
    
  }
  
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  body {
    padding-left: 10px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .container {
    padding: 20px;
  }
}
